.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.connectionCard {
  padding: 12px;
  min-width: 200px;
  text-align: center;
  /* display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: flex-start; */
}
